DATABASE_PASS=1111 #password for db
DATABASE_USER=db_name #name of user
DATABASE_NAME=database #name of db
DATABSE_HOST_DOCKER_PORT=5432 #database port for docker
DATABASE_CONTAINER_DOCKER_PORT=5432 #database port for docker
RABBIT_PASS=guest
RABBIT_LOGIN=guest
RABBIT_HOST_DOCKER_PORT=5672 #rabbit port for docker
RABBIT_CONTAINER_DOCKER_PORT=5672 #rabbit port for docker
RABBIT_HOST_DOCKER_WEB_PORT=15672 #rabbit port for docker. if u doesnt need web-interface port leave this line clear
RABBIT_CONTAINER_DOCKER_WEB_POR =15672 #rabbit port for docker. if u doesnt need web-interface port leave this line clear
