DATABASE_PASS=1111 #database password
DATABASE_USER=postgres #name of database user
DATABASE_HOST=db #database host
DATABASE_HOST_DEV=localhost #database host to develop
DATABASE_PORT=5432 #database port
DATABASE_NAME=checker #name of database
RABBIT_PASS=guest #rabbit password
RABBIT_LOGIN=guest #rabbit login
RABBIT_HOST=rabbit #rabbit host 
RABBIT_HOST_DEV=localhost #rabbit host to develop