SENDLER_PASS=1111 #password of sendler email
SENDLER_EMAIL=example@gmail.com #email of sendler
RABBIT_PASS=guest #rabbit password
RABBIT_LOGIN=guest #rabbit login
RABBIT_HOST=rabbit #rabbit host
RABBIT_HOST_DEV=localhost #rabbit host to develop