DATABASE_PASS=1111 #database password
DATABASE_USER=postgres #name of database user
DATABASE_HOST=db #database host
DATABASE_HOST_DEV=localhost #database host to develop
DATABASE_PORT=5432 #database port
DATABASE_NAME=API #name of database
RABBIT_PASS=guest #rabbit password
RABBIT_LOGIN=guest #rabbit login
RABBIT_HOST=rabbit #rabbit host 
RABBIT_HOST_DEV=localhost #rabbit host to develop
PUBLIC_KEY_PATH=public_key.pem #path to public key
PRIVATE_KEY_PATH=private_key.pem #path to private key
ALGORITHM=RS256 #type of algorithm
ACCESS_TOKEN_EXPIRE=23 #ttl for access token
REFRESH_TOKEN_EXPIRE=43200 #ttl for refresh token
API_URL=localhost 